root = true

[*]
charset = utf-8-bom
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{h,hpp,c,cc,cpp,inl,cs}]
charset = utf-8-bom
indent_style = tab
indent_size = 4

[*.md]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false
